configuration {
	modi: "drun,run";
  font: "Gohu Font 12";
	sidebar-mode: true;
	matching: "fuzzy";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "gruvbox-light"

window {
  width: 20%;
}
