configuration {
	modi: "drun,run";
  display-drun: "Applications";
  drun-display-format: "{icon} {name}";
  show-icons: true;
  icon-theme: "Papirus";
  display-run: "Commands";
  font: "Gohu Font 12";
	sidebar-mode: true;
	matching: "fuzzy";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
}

@theme "gruvbox-light"

window {
  width: 20%;
}
